@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --animate-gradientText: gradientText 3s linear infinite;
  --animate-scrollAppear: scrollAppear 5s linear;
  --animate-fade-in: fade-in linear forwards;
  --animate-horizontalInfiniteScroll: horizontalInfiniteScroll 45s linear
    infinite;
  --animate-wave1: wave-spin 18s linear infinite;
  --animate-wave2: wave-spin 25s linear infinite reverse;
  --animate-wave3: wave-spin 32s linear infinite;
  --animate-pulseAnimate: pulseAnimate 6s ease-in-out infinite;
  --animate-colorAnimate: colorAnimate 8s linear infinite;
  --animate-backButtonFadeIn: backButtonFadeIn 0.3s ease-in forwards;
}

@keyframes gradientText {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  @keyframes scrollAppear {
    0% {
      opacity: 0;
      transform: translateY(60px);
    }

    20% {
      opacity: 1;
      transform: translateY(0);
    }

    80% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(-60px);
    }
  }

  @keyframes horizontalInfiniteScroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
@keyframes wave-spin {
  from {
    transform: translate(-50%, 75%) rotate(0deg);
  }

  to {
    transform: translate(-50%, 75%) rotate(360deg);
  }
}
@keyframes pulseAnimate {
  100% {
    opacity: 0;
    transform: scale(2);
    filter: hue-rotate(360deg);
  }
}
@keyframes colorAnimate {
  100% {
    filter: hue-rotate(360deg);
  }
}
@keyframes backButtonFadeIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
