@import "tailwindcss";

@theme {
  --color-indigo: oklch(25.7% 0.09 281.288);

  --animate-blob1: blob1 1s ease-in-out infinite;
  --animate-blob1Move: blob1Move 3s ease-out forwards;
}

@keyframes blob1 {
  0%,
  100% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(3deg);
  }
}

@keyframes blob1Move {
  0%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-80px, -60px);
  }

  50% {
    transform: translate(-150, -100px);
  }

  75% {
    transform: translate(-200px, -150px);
  }
}
